* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
}
.container {
  margin: 0 auto;
  width: 100vw;
  max-width: 1200px;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("/hero.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding-top: 2rem;
}
.hero-container {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-inner-container {
  width: 50%;
}
h1 {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 4rem;
  line-height: 1;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.btn:link,
.btn:active {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background: #e56e33;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
}
section {
  padding: 5rem 0;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
p {
  font-size: 1.2rem;
  line-height: 1.2;
}
